@using Capstone.Web.Models;
@model List<Park>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div>

    @foreach (Park p in Model)
    {
        <table class="table">


            <tr>
                <td>
                    <a href="@Url.Action("Detail", "Park", new {parkCode = p.ParkCode})">
                        <img src="@Url.Content("~/Content/img/parks/" + p.ParkCode + ".jpg")" alt="@p.ParkName" class="imgList" />
                    </a>
                </td>

                <td>
                    <h3>@p.ParkName, @p.State</h3>

                    <p>@p.ParkDescription</p>
                </td>
            </tr>

        </table>
    }

</div>


