@using Capstone.Web.Models;
@model List<Park>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div>
    <ul>
        @foreach (Park p in Model)
        {

            <li>
                <a href="@Url.Action("DetailCelsius", "Park", new {parkCode = p.ParkCode})">
                    <img src="@Url.Content("~/Content/img/parks/" + p.ParkCode + ".jpg")" alt="@p.ParkName" />
                </a>
                <p>@p.ParkName, @p.State</p>
               
                <p>@p.ParkDescription</p>
            </li>

        }
    </ul>
</div>


